.home {
  background-color: black;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  Colors 
    Light color: #CCC9FF
    Medium color: #656487
*/
body {
  background-color: black;
}

/* bootstrap overrides */
.btn-primary {
  background-color: #656487;
  border-color: #575673;
  text-transform: uppercase;
  border-radius: 30px;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  background-color: #656487;
  border-color: #575673;
  text-transform: uppercase;
}

.btn-block+.btn-block {
  margin-top: 20px;
}

@media only screen and (min-width: 400px) {
    .home { width: 400px }
}
