/* 
    These are the chat widget overides for the styles
    so we can match the theme.
*/

.rcw-messages-container {
    background-color: rgba(0,0,0,0.8);
    padding: 20px 0;
}

/* dark color */
.rcw-client {
    background-color: #656487;
}

/* light color */
.rcw-conversation-container .rcw-header, .rcw-launcher, .rcw-response {
    background-color: #CCC9FF;
    color: #4f4f4f;
}

.rcw-conversation-container .rcw-close-button {
    background-color: transparent;
}

.rcw-conversation-container .rcw-header {
    color: white;
    padding: 20px;
    background-color: #656487;
    
}
.rcw-conversation-container .rcw-title {
    padding: 0;
    
}